section#handson__child
    .handson__child__title__background
        .container
            h1.handson__title HANDSON
            h2.handson__subtitle ハンズオン
    .handson__child__content__background
        p.handson__child__content__summary
            | 昨年人気だったハンズオン企画を今年も開催します！
            br
            | 実際に手を動かしながら流行りのツールやフレームワークの学習ができます。
            br
            | メンターによるサポートもありますので初心者の方も是非、参加してみてください。
        .handson-list
            each handson in handson_lists
                .handson-list__item(class="handson-list__item--" + handson.field)
                    .handson__info
                        .handson__info__technology 
                            span #{handson.technology}
                        .handson__info__title #{handson.title}
                        p.handson__info__summary #{handson.summary}
                        .handson__info__target
                            span.handson__info__target__title こんな方にオススメ
                            br
                            each target in handson.target
                                wbr
                                span.handson__info__target__item #{target}
                    .handson__mentor
                        .handson__mentor__title メインメンター
                        .handson__mentor__icon(style="background-image: url('./img/handson/" + handson.mentor.photo + "')")
                        .handson__mentor__name
                            | #{handson.mentor.name}
                            a.handson__mentor__link(href=handson.mentor.link )
                                i.fa.fa-link
                        p.handson__mentor__introduction
                            | #{handson.mentor.introduction}
                    .handson__to-detail
                        .handson__to-detail__title ハンズオンへの参加を考えている方はこちら
                        .handson__to-detail__btn
                            a.handson__to-detail__link(href=handson.detail_link)
                                span 詳細を見る
        .btn--to-top
            a(href="/").to-top__link
                span TOPに戻る